.sidebar {
    position: relative;
    z-index: 9;
    border-right: 1px solid #ddd;
    height: 100%;
    background: $white;

    &-wrap {
        position: relative;
        width: 250px;
        background: $white;
        z-index: 9;
        transition: all 150ms;
        right: -1px;
    }

    &-menu {
        padding: 20px 23px;
        border-bottom: 1px solid #ddd;

        &:first-child { padding-top: 25px; }
        &-heading span,
        &-wrap span {
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.94em;
            padding-bottom: 13px;
            cursor: pointer;
            transition: all 100ms;


            &:focus {
                user-select: none;
                -moz-user-select: none;
            }
            &:last-child {
                padding-bottom: 0px;
            }
            &:hover,
            &:hover i,
            &.active,
            &.active i {
                color: $orange;
            }
        }
        &-heading {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        &-heading span {
            font-weight: 700;
            padding-bottom: 0px;

            &.no-padding {
                padding-bottom: 0px;
            }
        }
        &-wrap {
            position: relative;
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding-bottom: 13px;

            &.first {
                padding-bottom: 15px;

                i {
                    font-size: 1.45em;
                }
            }
            &:last-child {
                padding-bottom: 0px;
            }
            i {
                display: inline-block;
                width: 35px;
                color: #040707;
                font-size: 1.3em;
            }
            i.fa-cubes {
                font-size: 1.6em;
            }
        }
        &-name {
            vertical-align: top;
            transition: all 100ms;
            opacity: 1;
            white-space: nowrap;

            span {
                &:focus,
                &:active {
                    user-select: none;
                    outline: none;
                }
            }
        }
        &-sub {
            display: none;
            margin-top: 20px;

            &.show {
                display: block;
            }
        }
        &-toggle {
            cursor: pointer;
            color: $orange;
        }
        &.help {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid #ddd;
            border-bottom: 0px;
        }
    }
}
