.sidebar {
    z-index: 9;
    border-right: 1px solid #ddd;
    height: 100%;
    background: $white;

    &-wrap {
        position: relative;
        width: 250px;
        background: $white;
        z-index: 9;
        transition: all 300ms;
        right: -1px;
    }

    &-menu {
        padding: 20px 23px;
        border-bottom: 1px solid #ddd;

        & > span,
        &-heading > span,
        &-sub > span {
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.9em;
            padding-bottom: 13px;
            cursor: pointer;


            &::selection {
                user-select: none;
                -moz-user-select: none;
            }
            &:last-child {
                padding-bottom: 0px;
            }
            i {
                display: inline-block;
                padding-right: 10px;
                color: #393939;
                font-size: 1.3em;
            }
            &:hover,
            &:hover i,
            &.active,
            &.active i {
                color: $orange;
            }
        }
        &-heading {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        &-heading > span {
            font-weight: 700;
            padding-bottom: 0px;

            &.no-padding {
                padding-bottom: 0px;
            }
        }
        &-sub {
            display: none;
            margin-top: 20px;

            &.show {
                display: block;
            }
        }
        &-toggle {
            //position: absolute;
            //top: 0;
            //right: 0;
            cursor: pointer;
            color: $orange;
        }
    }
}
