h1, h2, h3, h4, h5, h6 {
  clear: both; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 16px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 5px solid #ff4639;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  .header-toggle {
    margin-right: 40px;
    cursor: pointer; }
    .header-toggle i {
      font-size: 26px; }
  .header-logo {
    display: flex;
    align-items: center;
    width: 50%; }
    .header-logo-img {
      max-width: 110px; }
  .header-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.10em;
    z-index: -1; }
  .header-menu {
    width: 50%; }

.sidebar {
  z-index: 9;
  border-right: 1px solid #ddd;
  height: 100%;
  background: #ffffff; }
  .sidebar-wrap {
    position: relative;
    width: 250px;
    background: #ffffff;
    z-index: 9;
    transition: all 300ms;
    right: -1px; }
  .sidebar-menu {
    padding: 20px 23px;
    border-bottom: 1px solid #ddd; }
    .sidebar-menu > span,
    .sidebar-menu-heading > span,
    .sidebar-menu-sub > span {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9em;
      padding-bottom: 13px;
      cursor: pointer; }
      .sidebar-menu > span::selection,
      .sidebar-menu-heading > span::selection,
      .sidebar-menu-sub > span::selection {
        user-select: none;
        -moz-user-select: none; }
      .sidebar-menu > span:last-child,
      .sidebar-menu-heading > span:last-child,
      .sidebar-menu-sub > span:last-child {
        padding-bottom: 0px; }
      .sidebar-menu > span i,
      .sidebar-menu-heading > span i,
      .sidebar-menu-sub > span i {
        display: inline-block;
        padding-right: 10px;
        color: #393939;
        font-size: 1.3em; }
      .sidebar-menu > span:hover,
      .sidebar-menu > span:hover i, .sidebar-menu > span.active,
      .sidebar-menu > span.active i,
      .sidebar-menu-heading > span:hover,
      .sidebar-menu-heading > span:hover i,
      .sidebar-menu-heading > span.active,
      .sidebar-menu-heading > span.active i,
      .sidebar-menu-sub > span:hover,
      .sidebar-menu-sub > span:hover i,
      .sidebar-menu-sub > span.active,
      .sidebar-menu-sub > span.active i {
        color: #ff4639; }
    .sidebar-menu-heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .sidebar-menu-heading > span {
      font-weight: 700;
      padding-bottom: 0px; }
      .sidebar-menu-heading > span.no-padding {
        padding-bottom: 0px; }
    .sidebar-menu-sub {
      display: none;
      margin-top: 20px; }
      .sidebar-menu-sub.show {
        display: block; }
    .sidebar-menu-toggle {
      cursor: pointer;
      color: #ff4639; }

.model {
  position: relative;
  background: transparent;
  padding: 30px 35px 20px; }
  .model-container {
    position: absolute;
    top: 0;
    right: -230px;
    background: #ffffff;
    height: 100%;
    transition: all 100ms;
    z-index: -1;
    border-right: 1px solid #ddd; }
    .model-container.hidden {
      right: 0px;
      opacity: 0; }
    .model-container .wrapper {
      background: #ffffff;
      height: 100%; }
  .model-wrap {
    background: #ffffff;
    height: 100%; }
  .model span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em; }
  .model-product {
    position: relative;
    display: block;
    max-width: 160px;
    margin: auto;
    margin-bottom: 16px;
    cursor: move; }
    .model-product:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50px;
      z-index: -1;
      background: #eee;
      width: 70px;
      height: 100%;
      opacity: 0.7; }
  .model-icon {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 1.2em;
    cursor: pointer; }
    .model-icon:hover {
      color: #ff4639; }
  .model-info-wrap {
    position: absolute;
    top: 0;
    right: -566px;
    width: auto;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    z-index: -1;
    transition: all 130ms; }
    .model-info-wrap.hidden {
      right: 0; }
      .model-info-wrap.hidden .model-info-close {
        display: none; }
  .model-info-gallery {
    width: 525px;
    margin-bottom: 15px; }
  .model-info-galleryThumb {
    display: flex; }
    .model-info-galleryThumb img {
      margin-right: 15px;
      width: 120px;
      cursor: pointer; }
      .model-info-galleryThumb img:last-child {
        margin-right: 0px; }
  .model-info-text {
    max-width: 510px;
    padding-top: 50px; }
    .model-info-text .title {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.4em;
      color: #000000;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd; }
    .model-info-text p {
      font-size: 1em;
      font-weight: 400;
      color: #000000;
      line-height: 1.7; }
  .model-info-close {
    position: absolute;
    top: 80px;
    right: -40px;
    background: #040707;
    padding: 8px 12px;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #fff; }
    .model-info-close i {
      vertical-align: middle; }
    .model-info-close:hover {
      background: #ff4639; }

.canvas {
  position: relative;
  background: url("../assets/beach.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  flex-grow: 1;
  z-index: 8;
  transition: width 200ms ease;
  border: 1px solid #ddd;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700; }
  .canvas img {
    display: block;
    margin: auto; }
  .canvas .target {
    position: relative;
    width: 100%;
    height: 100%; }
    .canvas .target .model-product {
      max-width: 100%;
      margin-bottom: 0px; }
      .canvas .target .model-product:before {
        display: none; }
  .canvas iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    z-index: -1; }

* {
  box-sizing: border-box; }

body {
  background: #ffffff;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.app {
  position: relative;
  width: 100%;
  height: 100vh; }

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 93px;
  max-height: 100vh; }
  .content.toggleIcons .sidebar-wrap {
    width: auto; }
  .content.toggleIcons .sidebar-menu-name {
    display: none; }
  .content.toggleIcons .sidebar-menu > span i,
  .content.toggleIcons .sidebar-menu-sub > span i {
    padding-right: 0px; }
