h1, h2, h3, h4, h5, h6 {
  clear: both; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 16px; }

a {
  text-decoration: none; }
  a:visited, a:focus {
    color: inherit; }

button {
  display: inline-block;
  border: 0px;
  cursor: pointer; }
  button:focus, button:active, button:hover {
    outline: 0px; }

.btn {
  display: inline-block;
  padding: 0.85em 1.5em;
  border: 2px solid #ff4639;
  border-radius: 3px;
  background: transparent;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #fff;
  min-width: 300px; }
  .btn:visited, .btn:focus {
    color: #fff; }
  .btn:first-child {
    margin-right: 30px; }
  .btn--orange {
    background: #ff4639;
    color: #fff;
    border-color: #ff4639; }
  .btn--black {
    background: #000000;
    color: #fff;
    border-color: #000000; }
  .btn--gray {
    background: #6c6c6c;
    color: #fff;
    border-color: #6c6c6c; }
  .btn:hover {
    background: #000000;
    color: #fff;
    border-color: #000000; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top: 5px solid #ff4639;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  .header-toggle {
    margin-right: 40px;
    cursor: pointer; }
    .header-toggle i {
      font-size: 26px; }
  .header-logo {
    display: flex;
    align-items: center;
    width: 50%; }
    .header-logo-img {
      max-width: 110px; }
  .header-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.10em;
    z-index: -1; }
  .header-menu {
    width: 50%; }

.sidebar {
  position: relative;
  z-index: 9;
  border-right: 1px solid #ddd;
  height: 100%;
  background: #ffffff; }
  .sidebar-wrap {
    position: relative;
    width: 250px;
    background: #ffffff;
    z-index: 9;
    transition: all 150ms;
    right: -1px; }
  .sidebar-menu {
    padding: 20px 23px;
    border-bottom: 1px solid #ddd; }
    .sidebar-menu:first-child {
      padding-top: 25px; }
    .sidebar-menu-heading span,
    .sidebar-menu-wrap span {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.94em;
      padding-bottom: 13px;
      cursor: pointer;
      transition: all 100ms; }
      .sidebar-menu-heading span:focus,
      .sidebar-menu-wrap span:focus {
        user-select: none;
        -moz-user-select: none; }
      .sidebar-menu-heading span:last-child,
      .sidebar-menu-wrap span:last-child {
        padding-bottom: 0px; }
      .sidebar-menu-heading span:hover,
      .sidebar-menu-heading span:hover i, .sidebar-menu-heading span.active,
      .sidebar-menu-heading span.active i,
      .sidebar-menu-wrap span:hover,
      .sidebar-menu-wrap span:hover i,
      .sidebar-menu-wrap span.active,
      .sidebar-menu-wrap span.active i {
        color: #ff4639; }
    .sidebar-menu-heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .sidebar-menu-heading span {
      font-weight: 700;
      padding-bottom: 0px; }
      .sidebar-menu-heading span.no-padding {
        padding-bottom: 0px; }
    .sidebar-menu-wrap {
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding-bottom: 13px; }
      .sidebar-menu-wrap.first {
        padding-bottom: 15px; }
        .sidebar-menu-wrap.first i {
          font-size: 1.45em; }
      .sidebar-menu-wrap:last-child {
        padding-bottom: 0px; }
      .sidebar-menu-wrap i {
        display: inline-block;
        width: 35px;
        color: #040707;
        font-size: 1.3em; }
      .sidebar-menu-wrap i.fa-cubes {
        font-size: 1.6em; }
    .sidebar-menu-name {
      vertical-align: top;
      transition: all 100ms;
      opacity: 1;
      white-space: nowrap; }
      .sidebar-menu-name span:focus, .sidebar-menu-name span:active {
        user-select: none;
        outline: none; }
    .sidebar-menu-sub {
      display: none;
      margin-top: 20px; }
      .sidebar-menu-sub.show {
        display: block; }
    .sidebar-menu-toggle {
      cursor: pointer;
      color: #ff4639; }
    .sidebar-menu.help {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 0px; }

.model {
  position: relative;
  background: transparent;
  padding: 30px 35px 20px; }
  .model-container {
    position: absolute;
    top: 0;
    right: -230px;
    background: #ffffff;
    height: 100%;
    transition: all 100ms;
    z-index: -1;
    border-right: 1px solid #ddd; }
    .model-container.hidden {
      right: 0px;
      opacity: 0; }
    .model-container .wrapper {
      background: #ffffff;
      height: 100%; }
  .model-wrap {
    background: #ffffff;
    height: 100%;
    border-right: 1px solid #ddd;
    overflow-y: auto; }
  .model span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em; }
  .model-product {
    position: relative;
    display: block;
    max-width: 160px;
    margin: auto;
    margin-bottom: 16px;
    cursor: grab; }
    .model-product:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50px;
      z-index: -1;
      background: #eee;
      width: 70px;
      height: 100%;
      opacity: 0.7; }
  .model-icon {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 1.2em;
    cursor: pointer; }
    .model-icon:hover {
      color: #ff4639; }
  .model-info-wrap {
    position: absolute;
    top: 0;
    right: -566px;
    width: auto;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    z-index: -1;
    transition: all 130ms;
    border-right: 1px solid #ddd; }
    .model-info-wrap.hidden {
      right: 0; }
      .model-info-wrap.hidden .model-info-close {
        display: none; }
  .model-info-gallery {
    width: 525px;
    margin-bottom: 15px; }
  .model-info-galleryThumb {
    display: flex; }
    .model-info-galleryThumb img {
      margin-right: 15px;
      width: 120px;
      cursor: pointer; }
      .model-info-galleryThumb img:last-child {
        margin-right: 0px; }
  .model-info-text {
    max-width: 510px;
    padding-top: 50px; }
    .model-info-text .title {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.4em;
      color: #000000;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd; }
    .model-info-text p {
      font-size: 1em;
      font-weight: 400;
      color: #000000;
      line-height: 1.7; }
  .model-info-close {
    position: absolute;
    top: 80px;
    right: -41px;
    background: #040707;
    padding: 8px 12px;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #fff; }
    .model-info-close i {
      vertical-align: middle; }
    .model-info-close:hover {
      background: #ff4639; }

.canvas {
  position: relative;
  flex-grow: 1;
  z-index: 8;
  transition: width 150ms ease; }

.welcome {
  height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../assets/aquapark.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .welcome img {
    display: block;
    margin: auto;
    max-width: 300px;
    margin: 0px auto 40px;
    user-select: none;
    pointer-events: none; }
  .welcome:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.86);
    z-index: 1; }
  .welcome .wrap {
    z-index: 10; }
  .welcome-heading {
    display: block;
    font-family: 'Bebas Neue', serif;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
    color: #6c6c6c;
    margin: 0; }
  .welcome-subheading {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #686868;
    margin: 0px; }
    .welcome-subheading span {
      color: #ff4639; }
  .welcome-bar {
    display: block;
    width: 8%;
    height: 3px;
    background: #6c6c6c;
    margin: 30px auto; }
  .welcome-actions {
    margin-top: 80px; }

* {
  box-sizing: border-box; }

body {
  background: #ffffff;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.app {
  position: relative;
  width: 100%;
  height: 100vh; }

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 82px;
  max-height: 100vh; }
  .content.toggleIcons .sidebar-wrap {
    width: 68px; }
  .content.toggleIcons .sidebar-menu-name {
    display: none;
    opacity: 0; }
  .content.toggleIcons .sidebar-menu > span i,
  .content.toggleIcons .sidebar-menu-sub > span i {
    padding-right: 0px; }

.target {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/beach.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .target .model-product {
    max-width: 100%;
    margin-bottom: 0px; }
    .target .model-product:before {
      display: none; }
  .target img {
    margin: auto; }

iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0px;
  z-index: -1; }
