@import 'styles/colors';
@import 'styles/typography';
@import 'styles/mixins';
@import 'styles/header';
@import 'styles/sidebar';
@import 'styles/models';
@import 'styles/canvas';

* {
    box-sizing: border-box;
}
body {
    background: $white;
    overflow-x: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.app {
    position: relative;
    width: 100%;
    height: 100vh;
}
.content {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 93px;
    max-height: 100vh;

    &.toggleIcons {

        .sidebar { width: 5%; }
        .canvas { width: 95%; }
    }
}
